.container-fluid {
  padding-right: 15px !important;
 padding-left: 15px !important;
 margin-right: auto !important;
 margin-left: auto !important;
}
.row{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.bordered{
  border-style: solid;
}
a{
  color: #333;
}
a:hover, a:active{
  color: #999;
  background-color: transparent !important;
  text-decoration: none;
}


#header{
  background-color: transparent;
   background: transparent;
   border-color: transparent;
  // margin-bottom: -10px;
  transition: height 4s;
}

.nav-link{
  font-size: 1.5em;
  margin-top: 10px;
}

.nav-link{
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1.9em !important;
  text-shadow: 2px 2px 2px #aaa !important;
}
// CONTENT
#content{
  padding-top: 6em;
}

// INDEX PAGE
#landing-section{
  margin-top: -6em;
  background: url('/storage/images/timbackground.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 height: 100vh;
}
#landing-text{
  padding-top: 50vh;
  padding-right:20%;
  font-size: 4.8em;
  color: #333;
  // font-weight: bold;
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

// BLOG INDEX
#blog-index{
  min-height: 69vh;
}
.post{
  min-height: 25vh;
  padding-top: 3em;
  padding-left: 2em;
}
.post:hover{
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,1);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,1);

}

// FOOTER
.footer-wrapper{
  background-color: #555;
  height: 10em;
  -webkit-box-shadow: 0px -4px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -4px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px -4px 5px -3px rgba(0,0,0,0.75);
}
.footer-divider{
  background-color: #606F56;
  height: .5em;

}
.footer{
  letter-spacing: 1.7px;;
  // font-family: 'Quicksand', sans-serif;
  background-color:#333;
  height: 10em;
  -webkit-box-shadow: 0px -4px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -4px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px -4px 5px -3px rgba(0,0,0,0.75);
padding-top: .7em;
padding-bottom: .7em;
}
