.hidden{
  visibility: hidden;
}
#help-section{
  background-image: url("/storage/images/wecanhelp.png");
  min-height: 55vh;
  opacity: 0.9;
}
#help-text{
  padding-top: 6em;
}


h4{
  color: white;
}
