#testimonals-section{
  min-height: 38vh !important;
  background-color: #f0384f !important;
  color: #fff;
}
.review-card{
  padding-top: 64px;
}
.quotes-icon{
  height: 48px;
}
.review-avatar{
  height: 64px;
  /* border-radius: 100%; */
}
