.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


@media(min-width: 768px) and (max-width: 991px){
  .about-card{
    margin-bottom: 220px;
  }
}
