#nav-logo{
  height: 72px;
}
#nav-brand{
  // display: block;
  position: relative;
  top: 10px;
  // margin-left: 16px;
  font-size: 1.3em;
  text-shadow: 0 .12rem .1rem rgba(0, 0, 0, .5);
}
.nav-link{
  font-size: 1.5em;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler:active{
  border-style: none !important;
}
ul.dropdown-menu{
  background-color: transparent !important;
  border-style: none !important;
}

a.nav-link{
  background-color: transparent !important;
}
